# macOS
.DS_Store

**/xcuserdata/
*.xcuserdatad/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

build/
DerivedData/
*.moved-aside

*.pbxuser
*~.pbxuser
*.mode1v3
*.mode2v3

project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

.build/
.swiftpm/
.logs/
Package.resolved

Pods/

Carthage/Build/

*.cer
*.p12
*.mobileprovision

*.xcarchive

*.swp
*~